alias cdj='cd ~/work/javideveloper ; nvim'
alias cdmb='cd ~/work/myfi-back ; nvim'
alias cdmf='cd ~/work/myfi-front ; nvim'
alias cddot='cd ~/.dotfiles ; nvim'

alias bbd='brew bundle dump --force --describe'

alias eza='eza -lahF --git'
alias ls='eza -lahF --git'
alias man=batman

alias trail='<<<${(F)path}'
