alias cdj='cd ~/work/side-projects/javideveloper/javideveloper ; code . ; exit'
alias bbd='brew bundle dump --force --describe'
alias eza='eza -lahF --git'
alias ls='eza -lahF --git'
alias man=batman
alias trail='<<<${(F)path}'
